<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
<main class="main">
  <div class="task-manager-header">Task Manager</div>

  <form (ngSubmit)="onSubmit()">
    <div>
      <label>Task Title</label>
      <input type="text" [(ngModel)]="task.title" name="title" required />
    </div>

    <div>
      <label>Description</label>
      <textarea [(ngModel)]="task.description" name="description"></textarea>
    </div>

    <div>
      <label>Status</label>
      <select [(ngModel)]="task.status" name="status">
        <option value="completed">Completed</option>
        <option value="pending">Pending</option>
        <option value="not-started">Not Started</option>
      </select>
    </div>

    <div>
      <label>Creation Date & Time</label>
      <input
        type="datetime-local"
        [(ngModel)]="task.createdAt"
        name="createdDate"
        required
      />
    </div>


    <button type="submit">{{ task.id ? 'Update Task' : 'Add Task' }}</button>

  </form>

</main>

<div>
  <h2 style="text-align: center; font-family: 'Inter', sans-serif; font-size: 1.8rem; margin-bottom: 1rem;">
    Task List
  </h2>

  <div class="task-list">
    <div class="task-card" *ngFor="let task of tasks">
      <h4>{{task.id}}</h4>
      <h3>{{ task.title }}</h3>
      <p><strong>Description:</strong> {{ task.description }}</p>
      <p>
        <strong>Status:</strong>
        <span
          class="status-badge"
          [ngClass]="{
            'status-completed': task.status === 'completed',
            'status-pending': task.status === 'pending',
            'status-not-started': task.status === 'not-started'
          }"
        >
          {{ task.status }}
        </span>
      </p>

      <div>

        <p><strong>Created At:</strong> {{ task.createdAt | date:'medium' }}</p>
        <button  class="delete-btn" (click)="deleteTasks(task.id)" >Delete</button>

        <button  title="View Task" class="btn btn-outline-primary" (click)="searchTasks(task.id)">
          <i class="fas fa-eye"></i>

        </button>

      </div>

    </div>
  </div>
</div>




</body>
</html>
