<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8">
  <title>Title</title>
  <style >

  </style>
</head>
<body>
<main class="main">
  <div class="task-manager-header">Task Manager</div>

  <form (ngSubmit)="onSubmit()">
    <div>
      <label>Task Title</label>
      <input type="text" [(ngModel)]="task.title" name="title" required />
    </div>

    <div>
      <label>Description</label>
      <textarea [(ngModel)]="task.description" name="description"></textarea>
    </div>

    <div>
      <label>Status</label>
      <select [(ngModel)]="task.status" name="status">
        <option value="completed">Completed</option>
        <option value="pending">Pending</option>
        <option value="not-started">Not Started</option>
      </select>
    </div>

    <div>
      <label>Creation Date</label>
      <input type="date" [(ngModel)]="task.createdDate" name="createdDate" required />
    </div>

    <button type="submit">Add Task</button>
  </form>

</main>

</body>
</html>
